.cards {
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-lg);
    }

    @media (width <= $breakpoint-sm) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-lg);
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md);

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }

    @media (width <= $breakpoint-sm) {
        display: flex;

        justify-content: center;
        align-items: center;
        gap: var(--spacing-md);
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: 16px 8px;

    h3,
    p,
    a {
        margin: 0px;
    }

    .tag {
        font-weight: 300;
        font-size: var(--font-size-content);
    }
}

.card__media {
    aspect-ratio: 594/490;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        border-radius: 16px;
    }
}
