.footer {
    background-color: var(--color-black);
    height: 100%;
    padding: 40px 110px;

    .texte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .contenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md);
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 56px;
        svg {
            width: 48px;
            height: 48px;
            color: #8c8c8c;
        }
    }
}
