.hero {
    position: relative;
    height: 80vh;

    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    @media (width <= $breakpoint-md) {
        height: 60vh;
    }
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero__content {
    width: 630px;
    h1 {
        font-family: var(--font-secondary);
        font-size: var(--font-size-h1);
    }
}
