.section {
    padding: 80px 0;

    h2 {
        margin: 100px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: var(--spacing-xs);
        padding: 16px 8px;
        font-family: var(--font-secondary);
        font-size: var(--font-size-h2);
        font-weight: 300;
        color: var(--color-black);
    }

    h3 {
        font-size: var(--font-size-content);
        font-weight: 600;

        text-transform: uppercase;
    }

    span {
        font-weight: 600;
    }

    a {
        font-weight: 700;
        font-size: var(--font-size-content);
        text-transform: uppercase;
        background-color: var(--color-primary);
        color: var(--color-black);
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        border-radius: 100px;
        width: 40%;
        aspect-ratio: 255/40;

        @media (width <= $breakpoint-lg){
            width: 50%;
     
        }
          @media (width <= $breakpoint-md){
            width: 70%;
     
        }
           @media (width <= 1200px){
            width: 70%;
     
        }
            @media (width <= 800px){
            width: 100%;
     
        }
           @media (width <=800){
            width: 70%;
     
        }
          @media (width <= $breakpoint-sm){
            width: 50%;
     
        }
          @media (width <= $breakpoint-xs){
            width: 100%;
     
        }
    }

    p {
        font-weight: 300;
        font-size: var(--font-size-h3);
    }
}

.background {
    background-color: var(--color-black);
}

.responsive {
    background-color: var(--color-primary);
    padding: 80px 110px;
}
