.section {
    padding: 80px 0;

    h2 {
        margin: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: var(--spacing-xs);
        padding: 16px 8px;
        font-family: var(--font-secondary);
        font-size: var(--font-size-h2);
        font-weight: 300;
    }

    h3 {
        font-size: var(--font-size-content);
        font-weight: 600;

        text-transform: uppercase;
    }

    span {
        font-weight: 600;
    }

    a {
        font-weight: 700;
        font-size: var(--font-size-content);
        text-transform: uppercase;
        background-color: var(--color-primary);
        color: var(--color-black);
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        border-radius: 100px;
        width: 40%;
    }

    p {
        font-weight: 300;
        font-size: var(--font-size-h3);
    }
}

.background {
    background-color: var(--color-black);
}

.responsive {
    background-color: var(--color-primary);
    padding: 80px 110px;
}
