.swiper-wrapper{
    height: 100%;
}


.swiper-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--spacing-lg);
    margin: 50px;
    width: 100%;

    @media (width <= $breakpoint-lg){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-lg);
     
     
          
    }


    .resp-media {

        width: 100%;
        img {
            aspect-ratio: 594/490;
            object-fit: cover;
            width: 100%;
            border-radius: 16px;
            display: block;
        }
    }

    h3,
    p,
    a {
        color: var(--color-black);
    }



    h3 {
        font-size: var(--font-size-content);
        font-weight: 600;

        text-transform: uppercase;
    }

    span {
        font-weight: 600;
    }

    a {
        background-color: var(--color-white);
        font-weight: 700;
        font-size: var(--font-size-content);
        text-transform: uppercase;

        color: var(--color-black);
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        border-radius: 100px;
        width: 30%;
        aspect-ratio: 255/40;

            @media (width <= $breakpoint-lg){
                width: 30%;
                aspect-ratio: 255/40;
            }

             @media (width >= $breakpoint-lg){
                width: 30%;
                aspect-ratio: 255/40;
            }

               @media (width <= 1795px){
                width: 40%;
                aspect-ratio: 255/40;
            }

            @media (width <= $breakpoint-md){
                width: 40%;
                aspect-ratio: 255/40;
            }

            @media (width <= $breakpoint-sm){
                width: 50%;
                aspect-ratio: 255/40;
            }

              @media (width <= $breakpoint-xs){
                width: 100%;
                aspect-ratio: 255/40;
            }
            
            
    }

    .tag {
        font-weight: 300;
        font-size: var(--font-size-content);
    }

   


    
}

.swiper-pagination {
    position: relative;
    height: 100px;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
}

.swiper-pagination-bullet {
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    border-radius: 0;
    transform: rotate(45deg);
}
.swiper-pagination-bullet-active {
    --swiper-pagination-color: var(--color-white);
}

.swiper-pagination-bullet-inactive {
    --swiper-pagination-color: var(--color-black);
}
