{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.png" alt="" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="section background">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem1.png" alt="Laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p>
                        C'était un laboratoire de révisoin, afin de se rappeler des
                        <span>notions apprises dans les cours de web un et deux.</span>
                    </p>
                    <p class="tag">HTLM + CSS</p>
                    <a href="https://kdaoust.dectim.ca/cours/cw3/sem01/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem2.png" alt="Laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 02 - Timtools</h3>
                    <p>
                        Dans ce laboratoire, nous avons ajuster
                        <span>les styles css.</span>
                    </p>
                    <p class="tag">HTLM + CSS</p>
                    <a href="https://kdaoust.dectim.ca/cours/cw3/sem02/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem3.png" alt="Laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 03 - Portfolio Louiss Joy</h3>
                    <p>
                        Nous avons partatiquer dans celui-ci l'utlisisation
                        <span>de la grille et des flexbox.</span>
                    </p>
                    <p class="tag">HTLM + CSS</p>
                    <a href="https://kdaoust.dectim.ca/cours/cw3/sem03/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem4.png" alt="Laboratoire" />
                </div>
                <div class="card__content">
                    <h3>Sem 04 - Icônes et classes JS</h3>
                    <p>
                        Mous avons découvert comment travailler avec
                        <span>les icônes avec les TimTools.</span>
                    </p>
                    <p class="tag">HTLM + CSS</p>
                    <a href="https://kdaoust.dectim.ca/cours/cw3/sem04/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section responsive">
    <div class="swiper">
        <h2>
            Mes laboratoires
            <span>réactifs</span>
        </h2>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="resp-media">
                    <img src="assets/images/sem08.png" alt="responsive" />
                </div>
                <div class="respo-content">
                    <h3>Sem 08 - Début Responsive</h3>
                    <p>
                        Nous avons découvert comment travailler avec les media queries
                        <span>pour pouvoir rendre nos sites réactifs.</span>
                    </p>
                    <p class="tag">HTLM + CSS</p>
                    <a href="https://kdaoust.dectim.ca/cours/cw3/sem08/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="resp-media">
                    <img src="assets/images/sem9.png" alt="responsive" />
                </div>
                <div class="respo-content">
                    <h3>Sem 09 - Site Responsive</h3>
                    <p>
                        Mous avons coder un site responsive complet
                        <span>en y ajoutant le CSS et les medias queries</span>
                    </p>
                    <p class="tag">HTLM + CSS</p>
                    <a href="https://kdaoust.dectim.ca/cours/cw3/sem09/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="resp-media">
                    <img src="assets/images/sem10.png" alt="responsive" />
                </div>
                <div class="respo-content">
                    <h3>Sem 10 - Swiper</h3>
                    <p>
                        Mous avons découvert la bibliothèque Swiper
                        <span>en créant des carroussels</span>
                    </p>
                    <p class="tag">HTLM + CSS</p>
                    <a href="https://kdaoust.dectim.ca/cours/cw3/sem10/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

{% include "_partials/_footer.html" %}
